/vendor
/node_modules
/bootstrap/cache/*.php
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.env
/runtime/mysql-data/*
!/runtime/mysql-data/.gitignore
