APP_NAME="Cavaliers d'Herouville"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://projet_ecnec2.test

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=projet_ecnec2
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@cavaliers-herouville.fr"
MAIL_FROM_NAME="Cavaliers d'Herouville"

GOOGLE_PLACES_API_KEY=
NEWSLETTER_PUBLIC_BASE_URL=http://projet_ecnec2.test
NEWSLETTER_CONSENT_SALT=change_me_long_random_value
